.outer-div-profile{
    display: flex;
    
    margin: 70px;

}
.outer-div-profile .prof-img-div{
    margin-right: 50px;
}
.prof-img-div .prof-img{
    height: 600px;
    width: 600px;
}
.details .detail-text{
    font-size: 14px;
}
.details .title{
    font-weight: bolder;
}
@media screen and (max-width : 768px) {
    .outer-div-profile{
        display: block;
        margin:20px
    }
    .prof-img-div .prof-img{
        height: 300px;
        width: 100%;
    }
    .outer-div-profile .prof-img-div{
        margin-right: 0px;
    }
    
  }